<%- include include/header.html %>
<div>
    <form action="/?keyword=<%=keyword%>&pageNum=<%=pageNum%>&&pageSize=<%=pageSize%>" method="get">
        <input type="text" name="keyword" value="<%=keyword%>" placeholder="请输入关键字">
        <input type="submit" name="search" value="搜索">
    </form>
</div>
<%
   articles.forEach(function(article){
   %>
   <div>
       <a href="#">
           <img src="<%=article.user.avatar%>" alt="">
       </a>
       <h2>
           <a href="/articles/detail/<%=article._id%>"><%=article.title%></a>
       </h2>
       <p>
            <%-article.cont%>
       </p>
       <div>
           <span>
               作者:<%=article.user.username%>
           </span>
           <span>
              时间: <%=article.createAt.toLocaleString()%>
           </span>
       </div>
   </div>

<%
   })
%>
<ul>
    <%
    if(pageNum>1){
    %>
    <li>
        <a href="/?keyword=<%=keyword%>&pageNum=<%=pageNum-1%>&&pageSize=<%=pageSize%>" aria-label="Previous">
            上一页
        </a>
    </li>
    <%
    }
    %>

    <%
     for(var i=1;i<=totalPage;i++){
        %>
            <li><a href="/?keyword=<%=keyword%>&pageNum=<%=i%>&&pageSize=<%=pageSize%>"><%=i%></a></li>
        <%
     }
    %>

    <%
    if(pageNum < totalPage){
    %>
    <li>
        <a href="/?keyword=<%=keyword%>&pageNum=<%=pageNum+1%>&&pageSize=<%=pageSize%>">
            下一页
        </a>
    </li>
    <%
    }
    %>
</ul>

<%- include include/footer.html %>

